/* Fonts */
@font-face {
  font-family : "BebasNeue";
  src         : url(./font/Bebas_Neue/BebasNeue-Regular.ttf);
}

:root {
  --red  : #d44f40;
  --blue : #2f74cd;
  --green: #83bc2a;
}

#root {
  min-height : 100vh;
}

.wrapper {
  max-width    : 1100px;
  margin   : 0 auto;
  position : relative;
}

h1, p {
  font-family : "BebasNeue", serif;
}

h1 {
  font-size   : 7em;
  font-weight : 300;
}

p {
  font-size : 5em;
  margin    : 0 auto;
}

p.smallText{
  font-size : 2em;
}

h1 {
  margin : 0;
}


form label {
  margin : 5em 0;
}

#homeScreen {
  display         : flex;
  align-items     : center;
  justify-content : center;
  height          : 100vh;
  margin          : 0;
  background      : linear-gradient(150deg, var(--red) 0%, var(--red) 50%, var(--blue) 50%, var(--blue) 100%);
}

#title {
  margin     : 0 auto;
  text-align : center;
  width      : 100%;
  animation  : titleInit 2s forwards;
}

#title > img {
  max-width       : 500px;
  height          : auto;
  animation       : bounce 5s ease-in-out infinite;
  animation-delay : 2s;
}

.App {
  text-align : center;
  min-height : 100vh;
}

#valueSlider {
  color : white;
  width : 95%;
}

.slider {
  display    : flex;
  align-self : center;
  font-size  : 0.3em;
  width      : 350px;
}

.slider p {
  margin : 0 1em;
}

.content {
  display         : flex;
  text-align      : center;
  justify-content : center;
  align-items     : center;
  flex-direction  : column;
  height          : 100vh;
  color           : white;
  
}

.column {
  display        : flex;
  flex-direction : column;
}

.higher {
  background-color : var(--red);
}

.lower {
  background-color : var(--blue);
}

.completed {
  background-color : var(--green);
}

.neutral {
  background-color : #575755;
  
}

#message {
  white-space    : pre-wrap;
  position: relative;
}

#message > *{
  text-transform: uppercase;
  margin: 0;
}

#message h2{
  font-size: 1.25em;
  transform: translateY(100%);
}

#message .attempts{
  transform: translateY(-150%);
}
/* Positions */

.top {
  position : absolute;
  top      : 15px;
}

.bottom{
  position : absolute;
  bottom      : 15px;
  left     : 0;
}

.left {
  position: absolute;
  left: 15px;
}

.right {
  position: absolute;
  right: 15px;
}

.center {
  margin : 0 auto;
}

.textLeft{
  text-align: left;
}

.textRight{
  text-align: right;
}

/* Buttons */
button {
  outline          : none;
  font-family      : "BebasNeue", serif;
  background-color : white;
  border           : none;
  border-radius    : 20px;
  font-size        : 1.5em;
  width            : 5em;
  padding          : .5em 1em;
  margin           : 1em;
  box-shadow       : 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition       : all .5s;
}

button.circle {
  padding       : 0;
  border-radius : 50px;
  font-size     : 1.5em;
  font-weight   : 400;
  width         : 2em;
  height        : 2em;
}

button:hover {
  transform  : scale(1.1);
  box-shadow : 0 0 0 rgba(0, 0, 0, 0);
  
}

.buttonsContainer {
  position  : absolute;
  top       : 60%;
  left      : 50%;
  transform : translate(-50%, -50%);
  
}
.buttonsContainer button{
  opacity: 0;
  animation: up-fade-in 2s forwards;
  animation-delay: 1.5s;
}

/* Animations */

@keyframes up-fade-in {
  0% {
    opacity   : 0;
    transform : translateY(50px);
  }
  100% {
    transform : translateY(0);
    opacity   : 100%;
  }
}

@keyframes titleInit {
  0% {
    transform : translateX(-100px);
    filter    : drop-shadow(0px 0px rgba(0, 0, 0, 0));
    opacity   : 0;
  }
  40% {
    transform : translateX(0);
    opacity   : 100%;
  }
  60% {
  
  }
  100% {
    transform : translateY(-50%);
    filter    : drop-shadow(5px 5px rgba(0, 0, 0, 0.2));
  }
}

@keyframes bounce {
  20% {
    transform : translateY(-25px);
  }
  
  50% {
    transform : translateY(0);
  }
  
  80% {
    transform : translateY(-25px);
  }
}