:root {
  --red  : #E05849;
  --blue : #347FE0;
}

#root {
  min-height : 100vh;
}

#homeScreen {
  height     : 100%;
  margin     : 0;
  background : linear-gradient(157deg, var(--blue) 0%, var(--blue) 50%, var(--red) 50%, var(--red) 100%);
}


.App {
  text-align : center;
  min-height : 100vh;
}

.logo {
  size : 5px;
}

#valueSlider {
  color : white;
  
  width : 6em;
}

.slider {
  display     : flex;
  align-items : center;
  font-size   : 0.3em;
}

.slider p {
  margin : 0 1em;
}

.content {
  display         : flex;
  justify-content : center;
  align-items     : center;
  flex-direction  : column;
  height          : 100vh;
  font-size       : 3rem;
  color           : white;
  
}

.column {
  display        : flex;
  flex-direction : column;
}

.higher {
  background-color : var(--red);
}

.lower {
  background-color : var(--blue);
}

.right {
  background-color : #a1cb4c;
}

.neutral {
  background-color : #575755;
  
}

.message {
  text-transform : capitalize;
}