#root {
  min-height: 100vh;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 3rem;
  color: white;

}

.higher{
  background-color: #f76868;
}

.lower{
  background-color: #3e6df5
}

.right{
  background-color: #a1cb4c;
}

.neutral{
  background-color: #575755;

}